* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0084ff;
  text-align: center;
  color: #ffffff;
}
h1 {
  margin: 2rem;
  border-bottom: 2px solid #efefef;
  padding-bottom: 6px;
}
.todoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoDiv #todoInput {
  width: 25rem;
  height: 2.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  padding-inline-start: 1rem;
  font-size: 22px;
}
.todoDiv .addTodoBtn {
  height: 2.5rem;
  width: 3rem;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 2rem;
  background: #000;
  color: #ffffff;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.todoItem {
  display: flex;
  justify-content: center;
  align-items: center;

}
.todoHeading {
  font-weight: 500;
  width: 23rem;
  overflow: hidden;
  padding: 4px;
  cursor: default;
  background: #fff;
  color: #000;
  margin: 1rem 0.5rem;
  border-radius: 8px;
  padding: 6px;
  text-align: left;
}

.removeTodo {
  outline: none;
  border: none;
  background: #ff0000;
  color: #fff;
  width: 2rem;
  font-size: 1.5rem;
  height: 2rem;
  border-radius: 8px;
  cursor: pointer;
}
.todoIcon:hover {
  opacity: 0.9;
}
.todoItemNew {
  border: 1px solid #000;
}
